<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\InchirieriAutoDB.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <appSettings>
      <add key="FormatSalvare" value="txt"/>
      <!--Formatele suportate sunt 'bin' si 'txt'-->
      <add key="NumeFisierMasini" value="Masini"/>
      <add key="NumeFisierClienti" value="Clienti"/>
      <add key="NumeFisierAngajati" value="Angajati"/>
    </appSettings>
</configuration>